@font-face {
    font-family: "JosefinSans";
    src: url(../font/JosefinSans-VariableFont_wght.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url(../font/Jost-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

html {
    min-height: 100%;
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    color: darkslategray;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-family: Jost, serif;
    font-size: 1.2em;
}

.logo {
    width: 100px;
    padding: 2em;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

h1, h2, h3 {
    font-family: JosefinSans, serif;
}

h1 {
    font-size: 4em;
    animation: header 2s ease-in-out infinite alternate;
}

@keyframes header {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(50%);
        color: slategray;
    }
}

.settings {
    padding: 1.5em;
    display: grid;
    grid-template-columns: auto auto;
}

.radio-buttons {
    text-align: left;
}

input {
    margin-top: 1em;
    padding: .5em;
}

select {
    padding: .4em;
    border: 2px solid darkslategray;
    background-color: rgba(189, 200, 196, .7);
    color: darkslategray;
    text-align: left;
}

.text-detail {
    border: 2px solid darkslategray;
    background-color: rgba(189, 200, 196, .7);
}

.text-detail p {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: .4em;
}

.text-background {
    background-color: rgba(166, 188, 180, 1);
}

.incorrect {
    color: red;
}

.correct {
    color: rgba(118, 142, 133, 0.8);
}

.inputtext {
    border: 2px solid darkslategray;
    background-color: rgba(189, 200, 196, .7);
    text-align: center;
    color: darkslategray;
}

.inputtext:focus::placeholder {
    color: transparent;
}

*:focus {
    outline: none;
}

button {
    border: none;
    width: 50px;
    background-color: transparent;
}

.play-stop {
    width: 30px;
    padding-top: 1em;
    cursor: pointer;
}

canvas {
    border: 2px solid darkslategray;
    background-color: rgba(189, 200, 196, .7);
    margin: .8em 1em .4em;
}

.statistics {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.statistics p {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .4em;
    margin-bottom: .4em;
}

footer {
    color: darkslategray;
    font-size: .8em;
    border-top: 2px solid darkslategray;
    margin-bottom: 2em;
}

a {
    color: darkslategray;
    text-decoration: none;
    border: 1px solid darkslategray;
    padding: .2em;
}

a:hover {
    border: 2px solid darkslategray;
}

